/* Treehouse Project 6 */
/* by Nicoal Price */

/*----- Global Styles -----*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #111;
    background: url(../svgs/background.svg) #edeff0;
    background-size: 53px 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

/*----- Header -----*/

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

/*-- Navigation --*/


/*When a user hovers over the menu icons, use CSS to change their color to match the menu item text color.*/
li:hover .icon {
    fill: #111;
    transform: scale(1.2);
}

nav li:hover {
    transform: scale(1.2);
}

nav li,
li .icon {
    transition: all .5s ease-in-out;
}

.nav-heart {
    height: 13px;
    fill: #39ADD1;
}

.nav-location {
    height: 14px;
    fill: #39ADD1;
}

.nav-contact {
    height: 13px;
    fill: #39ADD1;
}

/*-- Logo --*/

.logo {
    width: 140px;
    height: auto;
}

.logo-circle {
    fill: #BA8058;
}

.logo-text {
    fill: #EAAA7F;
}

.logo-paw-print {
    fill: #F4C6A6;
}

.logo-name {
    display: none;
    color: #EAAA7F;
    font-size: 1.3em;
    text-transform: uppercase;
}

/*----- Main Content -----*/

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

/*----- Dog Face Images -----*/

.corgi-red,
.corgi-fawn,
.corgi-sable,
.corgi-black-tan {
    height: 170px;
}

.face-fawn,
.ear-fawn,
.eyebrow-red {
    fill: #EAAA7F;
}

.eyebrow-fawn {
    fill:#F4C6A6;
}

.nose,
.eye {
    fill: #2D3339;
}

.snout {
    fill: #FBFEFF;
}

.face-black-tan {
    fill: #52595F;
}

.eyebrow-black-tan,
.eyebrow-sable,
.ear-red,
.ear-black-tan,
.face-red {
    fill: #BA8058;
}

.ear-sable,
.face-sable {
    fill: #844B24;
}

/*----- Footer -----*/

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #BA8058;
}

/*----- Animation Keyframes -----*/

@keyframe grow {
    0% {

    }

    50% {

    }

    100% {

    }
}

/*----- SVG Styles -----*/
/*
.logo-paw-print {
    animation: grow;
}
*/

/*----- Media Queries -----*/
/* At a page width of less than 420 pixels remove the text from the logo and add an H1 tag that contains the logo text.*/

@media screen and (max-width: 420px) {
    .logo-text {
        display: none;
    }

    .logo-name {
         display: block;
    }

}
